name: CICD
on:
  - push
  - pull_request

jobs:
  CI:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5 # Récupère le contenu du dépôt correspondant au commit du workflow en cours
      - uses: actions/setup-node@v6
        with:
          node-version: 22.20.0
      - run: npm ci
      - run: npm run build